---
import Layout from "../layouts/Layout.astro";
import PAGES from "../util/pages";
---
<Layout path={PAGES.NOT_FOUND_PAGE}>
	<!-- fore zero fore page start here -->
	<section class="fore-zero padding-tb">
		<div class="container">
				<div class="section-wrapper">
						<div class="zero-item text-center">
								<h2>Oops, sorry we can’t find that page</h2>
								<div class="zero-thumb">
										<img src="/assets/images/404.png" alt="404">
								</div>
								<div class="zero-content">
										<a href="index.html" class="lab-btn"><span>Back to Home</span></a>
								</div>
						</div>
				</div>
		</div>
	</section>
	<!-- fore zero fore page ending here -->
	<script is:inline src="/assets/js/jquery.js"></script>
	<script is:inline src="/assets/js/fontawesome.min.js"></script>
	<script is:inline src="/assets/js/waypoints.min.js"></script>
	<script is:inline src="/assets/js/bootstrap.min.js"></script>
	<script is:inline src="/assets/js/wow.min.js"></script>
	<script is:inline src="/assets/js/swiper.min.js"></script>
	<script is:inline src="/assets/js/jquery.countdown.min.js"></script>
	<script is:inline src="/assets/js/jquery.counterup.min.js"></script>
	<script is:inline src="/assets/js/isotope.pkgd.min.js"></script>
	<script is:inline src="/assets/js/lightcase.js"></script>
	<script is:inline src="/assets/js/functions.js"></script>
</Layout>