---
import Layout from "../layouts/Layout.astro";
import { PAGES, PATH_ROUTES } from "../util/pages";
---
<Layout path={PAGES.NOT_FOUND_PAGE}>
	<!-- fore zero fore page start here -->
	<section class="fore-zero padding-tb">
		<div class="container">
				<div class="section-wrapper">
						<div class="zero-item text-center mt-5">
								<h2>Página no encontrada</h2>
								<div class="zero-thumb" style="height: 30vh; display: flex; justify-content: center; align-items: center;">
										<h1 style="font-size: 200px; color: #ffb11f;">404</h1>
								</div>
								<div class="zero-content">
										<a href={PATH_ROUTES.HOME_PATH} class="lab-btn"><span>Back to Home</span></a>
								</div>
						</div>
				</div>
		</div>
	</section>
	<!-- fore zero fore page ending here -->
	<script is:inline src="/assets/js/jquery.js"></script>
	<script is:inline src="/assets/js/fontawesome.min.js"></script>
	<script is:inline src="/assets/js/waypoints.min.js"></script>
	<script is:inline src="/assets/js/bootstrap.min.js"></script>
	<script is:inline src="/assets/js/wow.min.js"></script>
	<script is:inline src="/assets/js/swiper.min.js"></script>
	<script is:inline src="/assets/js/jquery.countdown.min.js"></script>
	<script is:inline src="/assets/js/jquery.counterup.min.js"></script>
	<script is:inline src="/assets/js/isotope.pkgd.min.js"></script>
	<script is:inline src="/assets/js/lightcase.js"></script>
	<script is:inline src="/assets/js/functions.js"></script>
</Layout>