<section class="about-us bg_img_1 bg_img padding-tb">
  <div class="shape-about d-none d-xl-block">
    <img src="/assets/images/about/02.png" alt="abs-thumb">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="about-thumb ml-about-thumb wow fadeInUp" data-wow-delay="0.4s">
          <img src="/assets/images/about/01.png" alt="about-thumb">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="section-header text-start wow fadeInUp" data-wow-delay="0.3s">
          <h3>Trayectoria y experiencia</h3>
          <p>Productos y servicios agropecuarios</p>
        </div>
        <div class="section-wrapper">
          <div class="about-item wow fadeInUp" data-wow-delay="0.4s">
            <div class="about-inner">
              <div class="about-content">
                <p style="font-size: 20px;">Contamos con amplia experiencia dedicada a brindar soluciones innovadoras y a la vanguardia para mejorar su producción agrícola 🌱💪. Ofrecemos soluciones integrales para el campo, para maximizar su producción y rentabilidad. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>