<section class="product-section product-style5 padding-tb">
  <div class="container">
    <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
      <h3>How We Produce Our Honey</h3>
      <p>Conveniently customize proactives into everaged interfaces without Globally</p>
    </div>
    <div class="section-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
          <div class="product-left">
            <div class="row justify-content-center">
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/01.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a href="#"><h5> Flowers produce nectar and attract </h5></a>
                      <p>Continually aggregate friction and web interfaces thout </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/02.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a href="#"><h5> Bees collect the nectar carry to the beehive.</h5></a>
                      <p>Continually aggregate friction and web interfaces thout </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/03.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a href="#"><h5>Bees seal cells with wax and honey ripens.</h5></a>
                      <p>Continually aggregate friction and web interfaces thout </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/04.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a href="#"><h5>We collect the product and transfer to the packaging.</h5></a>
                      <p>Continually aggregate friction and web interfaces thout </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="product-right">
            <div class="slider-product">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/04.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/03.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/02.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-product-pagination text-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
