<section class="product-section product-style5 padding-tb">
  <div class="container">
    <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
      <h3>Experiencia y asesoramiento para maximizar tu producción</h3>
      <p>Descubre cómo podemos ayudarte a maximizar tu rendimiento con nuestros productos de alta calidad y el mejor asesoramiento técnico</p>
    </div>
    <div class="section-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
          <div class="product-left">
            <div class="row justify-content-center">
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/01.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a type="button"><h5>Soluciones Agropecuarias</h5></a>
                      <p>Ofrecemos soluciones integrales para el campo adaptadas a las necesidades de cada cliente.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/02.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a type="button"><h5>Servicio y asesoramiento</h5></a>
                      <p>Contamos con un equipo de profesionales capacitados para brindar el mejor servicio y aseoramiento a nuestros clientes.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/03.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a type="button"><h5>Productos de alta calidad</h5></a>
                      <p>Ofrecemos productos cuidadosamente seleccionados para garantizar su eficacia y seguridad a precios competitivos.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="product-item-3 text-center">
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img src="assets/images/product/home3/04.png" alt="product">
                    </div>
                    <div class="product-content">
                      <a type="button"><h5>Somos la farmacia del campo</h5></a>
                      <p>Estamos comprometidos a ofrecer soluciones efectivas y adaptadas a cada necesidad.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="product-right">
            <div class="slider-product">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/01.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/02.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/03.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/04.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/05.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slider-item">
                    <div class="product-slider-thumb">
                      <img src="assets/images/product/home3/06.jpg" alt="slider-product">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-product-pagination text-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
