<!-- agricul farm section start here -->
  <section class="agricul-fruits-section bg_img_1 bg_img">
    <div class="container">
      <div class="section-wrapper">
        <div class="row flex-row-reverse align-items-center">
          <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
            <div class="fruits-left">
              <div class="agricul-fruits-thumb">
                <img src="/assets/images/farm/02.png" alt="agricul-farm" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
            <div class="fruits-right">
              <div class="section-header text-center text-lg-start">
                <h2>Productos</h2>
                <p style="font-size: 20px;">
                  Ofrecemos una amplia gama de productos, desde fertilizantes, semillas, herbicidas, insecticidas, fungicidas,, hasta coadyuvantes e inoculantes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- agricul farm section ending here -->