---
const data = [
  {
    img: '/assets/images/product/herbicidas/01.jpg',
    title: 'Herbicidas',
    class: 'herbicida'
  },
  {
    img: '/assets/images/product/insecticidas/01.jpg',
    title: 'Insecticida',
    class: 'insecticida'
  },
  {
    img: '/assets/images/product/herbicidas/02.jpg',
    title: 'Herbicida',
    class: 'herbicida'
  },
  {
    img: '/assets/images/product/insecticidas/02.jpg',
    title: 'Insecticida',
    class: 'insecticida'
  },
  {
    img: '/assets/images/product/herbicidas/03.jpg',
    title: 'Herbicida',
    class: 'herbicida'
  },
  {
    img: '/assets/images/product/insecticidas/03.jpg',
    title: 'Insecticida',
    class: 'insecticida'
  },
]
---

<section class="product-section padding-tb">
  <div class="container">
    <div class="section-header wow fadeInUp" data-wow-delay="0.4s">
      <h3>Nuestros productos</h3>
      <p>Productos de la mas alta calidad</p>
    </div>
    <div class="section-wrapper wow fadeInUp" data-wow-delay="0.5s">
      <ul class="agri-ul product-filter-name">
        <li data-filter="*" class="active">Ver todo</li>
        <li data-filter=".insecticida">Insecticidas</li>
        <li data-filter=".herbicida">Herbicidas</li>
        <!-- <li data-filter=".honey">Fungicidas</li> -->
      </ul>
      <div class="grid">
        {
          data.map(img => {
            return (
            <div class={`product-item ${img.class}`}>
                <div class="product-inner">
                  <div class="product-thumb">
                    <img src={img.img} alt="product">
                </div>
                <div class="product-content">
                  <a href="#" style="font-size: 25px;" class="product-name">{img.title}</a>
                </div>
                </div>
            </div>
            )
          }
         )
        }
      </div>
    </div>
  </div>
</section>