---
import { ProductsNav } from "./ProductsNav";
const data = [
  {
    title: "Nitro Plus 18",
    class: "fertilizante-liquido",
    img: "12.png",
    buttonName: 'Fertilizante Líquido'
  },
  {
    title: "Mulam 48",
    class: "herbicida",
    img: "02.png",
    buttonName: 'Herbicida'
  },
  {
    title: "Top Rice",
    class: "fertilizante-liquido",
    img: "07.png",
    buttonName: 'Fertilizante Líquido'
  },
  {
    title: "Facet",
    class: "herbicida",
    img: "09.png",
    buttonName: 'Herbicida'
  },
  {
    title: "Mastermins Plus",
    class: "fertilizante-liquido",
    img: "14.png",
    buttonName: 'Fertilizante Líquido'
  },
  {
    title: "Claron",
    class: "herbicida",
    img: "08.png",
    buttonName: 'Herbicida'
  },
];

const navData = data
  .map(product => (
    { 
      filter: product.class, 
      name: product.buttonName 
    }
  ))
  .filter((value, index, self) =>
    index === self.findIndex((t) => (
      t.filter === value.filter && t.name === value.name
    ))
  )
---
<section class="product-section padding-tb" style="background-color: #f7f7f7;">
  <div class="container">
    <div class="section-header wow fadeInUp" data-wow-delay="0.4s">
      <h3>Algunos de nuestros productos</h3>
      <p>Muy pronto tendremos online nuestro catálogo completo.</p>
      <a style={{ color: '#ffb11f' }} target="_blank" href="https://api.whatsapp.com/send?phone=5493454037365&text=">Mas info.</a>
    </div>
    <div class="section-wrapper wow fadeInUp" data-wow-delay="0.5s">
      <ProductsNav  productsData={navData} client:load />
      <div class="grid">
        {
          data.map((img) => {
              return (
                <div class={`product-item ${img.class}`}>
                  <div class="product-inner">
                    <div class="product-thumb">
                      <img
                        src={`/assets/images/product/${img.img}`}
                        alt="product"
                      />
                    </div>
                    <div class="product-content">
                      <a style="font-size: 25px;" class="product-name">
                        {img.title}
                      </a>
                    </div>
                  </div>
                </div>
              );
            }
          )
        }
      </div>
    </div>
  </div>
</section>