---
const dataSlider = [
	{
		title: 'Alto rendimiento',
		description: 'Maximizá tus resultados con insumos de calidad.',
	},
	{
		title: 'Protección de cultivos',
		description: 'Soluciones efectivas para requerimientos puntuales.',
	},
	{
		title: 'Cultivos saludables y productivos',
		description: 'Productos de última generación.',
	},
	{
		title: 'Soluciones Agropecuarias',
		description: 'Somos la farmacia del campo.',
	},
]
---
<section class="banner banner-2">
	<div class="banner-slider">
		<div class="swiper-wrapper">
			{
				dataSlider.map((slide, i) => {
						return (
							<div class="swiper-slide">
								<div class="container">
									<div class="banner-item">
										<div class="banner-inner">
											<div class="banner-thumb">
												<img style="min-height: 600px;" src={`/assets/images/blog/0${i+1}.jpg`} alt="banner-slider">
											</div>
											<div class="banner-content">
												<h3></h3>
												<div class="banner-title">{slide.title}</div>
												<div class="banner-desc">{slide.description}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						)
					}
				)
			}
		</div>
		<div class="banner-pagination"></div>
		<button class="carousel-control-next banner-button-next" type="button">
			<span class="carousel-control-next-icon"></span>
			<span class="visually-hidden">Next</span>
		</button>
		<button class="carousel-control-prev banner-button-prev" type="button">
			<span class="carousel-control-prev-icon"></span>
			<span class="visually-hidden">Previous</span>
		</button>
	</div>
</section>