<header class="header-section transparent-header">
  <div class="header-area">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="primary-menu">
          <div class="logo">
            <a href="index.html"><img src="/assets/images/logo/01.png" alt="logo"></a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icofont-navigation-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="main-area">
              <div class="main-menu">
                <ul class="agri-ul">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="contact-us.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>