<!-- Banner Section Start Here -->
<section class="banner banner-2">
	<div class="banner-slider">
			<div class="swiper-wrapper">
					<div class="swiper-slide">
							<div class="container">
									<div class="banner-item">
											<div class="banner-inner">
													<div class="banner-thumb">
															<img src="/assets/images/blog/01.jpeg" alt="banner-slider">
													</div>
													<div class="banner-content">
															<h3>Félix Menendez</h3>
															<div class="banner-title">Alto rendimiento.</div>
															<div class="banner-desc">Maximizá tus resultados con insumos de calidad.</div>
													</div>
											</div>
									</div>
							</div>
					</div>
					<div class="swiper-slide">
							<div class="container">
									<div class="banner-item">
											<div class="banner-inner">
													<div class="banner-thumb">
															<img src="/assets/images/blog/02.jpeg" alt="banner-slider">
													</div>
													<div class="banner-content">
															<h3>Félix Menendez</h3>
															<div class="banner-title">Protección de cultivos</div>
															<div class="banner-desc">Soluciones efectivas para requerimientos puntuales</div>
													</div>
											</div>
									</div>
							</div>
					</div>
					<div class="swiper-slide">
							<div class="container">
									<div class="banner-item">
											<div class="banner-inner">
													<div class="banner-thumb">
															<img src="/assets/images/blog/03.jpeg" alt="banner-slider">
													</div>
													<div class="banner-content">
															<h3>Félix Menendez</h3>
															<div class="banner-title">Cultivos Saludables y Productivos </div>
															<div class="banner-desc">Productos de última Generación</div>
													</div>
											</div>
									</div>
							</div>
					</div>
					<div class="swiper-slide">
						<div class="container">
								<div class="banner-item">
										<div class="banner-inner">
												<div class="banner-thumb">
														<img src="/assets/images/blog/04.jpeg" alt="banner-slider">
												</div>
												<div class="banner-content">
														<h3>Félix Menendez</h3>
														<div class="banner-title">SOLUCIONES AGROPECUARIAS </div>
														<div class="banner-desc">SOMOS LA FARMACIA DEL CAMPO</div>
												</div>
										</div>
								</div>
						</div>
				</div>
			</div>
		<div class="banner-pagination"></div>
	</div>
</section>
<!-- Banner Section Ending Here -->