<!-- Banner Section Start Here -->
<section class="banner banner-2">
	<div class="banner-slider">
			<div class="swiper-wrapper">
					<div class="swiper-slide">
							<div class="container">
									<div class="banner-item">
											<div class="banner-inner">
													<div class="banner-thumb">
															<img src="/assets/images/blog/01.jpg" alt="banner-slider">
													</div>
													<div class="banner-content">
															<h3>Agricul Farm</h3>
															<div class="banner-title">Fresh Organic Fruits For Your Health.</div>
															<div class="banner-desc">Dynamically supply web-enabled portals for high standards income Completely productivate optimal sources strategic.</div>
															<a href="#" class="lab-btn"><span>Shop Now</span></a>
													</div>
											</div>
									</div>
							</div>
					</div>
					<div class="swiper-slide">
							<div class="container">
									<div class="banner-item">
											<div class="banner-inner">
													<div class="banner-thumb">
															<img src="/assets/images/blog/02.jpg" alt="banner-slider">
													</div>
													<div class="banner-content">
															<h3>Agricul Farm</h3>
															<div class="banner-title">Fresh Organic Fruits For Your Health.</div>
															<div class="banner-desc">Dynamically supply web-enabled portals for high standards income Completely productivate optimal sources strategic.</div>
															<a href="#" class="lab-btn"><span>Shop Now</span></a>
													</div>
											</div>
									</div>
							</div>
					</div>
					<div class="swiper-slide">
							<div class="container">
									<div class="banner-item">
											<div class="banner-inner">
													<div class="banner-thumb">
															<img src="/assets/images/blog/03.jpg" alt="banner-slider">
													</div>
													<div class="banner-content">
															<h3>Agricul Farm</h3>
															<div class="banner-title">Fresh Organic Fruits For Your Health.</div>
															<div class="banner-desc">Dynamically supply web-enabled portals for high standards income Completely productivate optimal sources strategic.</div>
															<a href="#" class="lab-btn"><span>Shop Now</span></a>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
<div class="banner-pagination"></div>
	</div>
</section>
<!-- Banner Section Ending Here -->