<!-- scrollToTop start here -->
<a href="#" class="scrollToTop">
  <i class="icofont-swoosh-up"></i><span class="pluse_1"></span><span
    class="pluse_2"></span>
</a>
<!-- scrollToTop ending here -->
