---
import BackToTop from "../components/common/BackToTop.astro";
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
import Preloader from "../components/common/Preloader.astro";
import WhatsAppButtonComponent from "../components/common/WhatsAppButtonComponent";
import 'animate.css'
import '../components/assets/paginationBlogPosts.css';

const { path } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{path}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="Félix Menendez - Soluciones Agropecuarias - Concordia E.R.">
		<meta property="og:image" content="https://felixmenendez.com.ar/assets/images/product/home3/06.jpg">
		<meta property="og:image:width" content="300">
		<meta name="descritpion" content="Insumos agropecuarios, Concordia, Entre Ríos" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/x-icon/favicon_fm.png">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/all.min.css">
		<link rel="stylesheet" href="/assets/css/icofont.min.css">
		<link rel="stylesheet" href="/assets/css/lightcase.css">
		<link rel="stylesheet" href="/assets/css/swiper.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<!-- <script type="text/javascript" async>const tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/"); document.write(unescape("<script src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript' %3E%3C/script%3E"));</script> -->
	</head>
	<body>
    <Preloader />
    <Header route={path} />
    <slot />
		<Footer />
    <WhatsAppButtonComponent client:load />
    <BackToTop />
  </body>
</html>